* {
    padding : 0;
    margin : 0%;
    box-sizing: border-box;
} 
.bg-img {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-image: url(design1_image1.jpg) ;
    height: 40vh;
    background-position: 0% 30%; 
    background-size: cover;
}
h1{
    font-size: 60px;
}
.logo{
    position: relative;
    bottom: 30px;
}
.logo1{ 
    position: absolute;
    top: -30px;
    right: 25px;
    padding: 0px 10px;
    margin: 0px 10px;
    width: 180px;
    height: 180px;
    z-index: 99;
}
h2{
    padding: 2px 2px 2px 2px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: black;
}
.items-art>h3{ 
    font-style: italic;
    margin: 15px;
    padding: 10px;
}
.items-art p{
    margin: 15px;
    padding: 10px;
}
section .items-art {
    position: absolute;
    left: 150px;
    margin: 0px 10px 5px 20px;
    padding: 15px 20px;
}
h5{
    margin: 0px 10px 5px 20px;
    padding: 15px 20px;
    line-height: 40px;
    font-size: 16px;
    font-weight: lighter;
}
.links{
    text-decoration: none;
    margin-top: 50px;
    display: block;
    color: black;
}
#navbar{
    position: relative;
    top: 350px;
}

/* Rules section */

.items-art-rules{
    position: relative;
    margin-left: 6%;
}
.conteiner-rules p{
    padding: 2px 4px 0px 4px;
    margin: 2px 4px 0px 4px;
    text-align: center;
    font-size: 25px;
}
.title-rules{
    background-color: #fff;
    color: black;
    padding: 5px 2px;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}
.conteiner2{
    padding: 2px 10px;
    margin: 5%;
}
.title2-rules{
    background-color: #fff;
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 10px 0px;
    margin: 10px 0px;

}
.conteiner2 p{
    text-indent: 3%;
    font-size: 20px;
    font-weight: 500;
}
.section-rules li{
    padding: 5px 0px;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 500;
}
.lista-items{
    margin: 10px;
    padding: 5px;
}
.conteiner3 p{
    text-indent: 0;
}
.lista-items2{
    line-height: 10px;
}
.conteiner4 p{
    text-indent: 3%;
}
.item1{
    margin-left: 5%;
    list-style-type: circle;
}

/* Game info */

.conteiner-game1{
    position: relative;
    margin-left: 5%;
}
.title-rules{
    padding: 10px 2px;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
}
.conteiner-game1 h4{
    margin-left: 10%;
    font-size: 20px;
    font-style: italic;
    line-height: 10px;
}
.conteiner-game1 h5{
    margin-left: 8%;
    font-size: 20px;
    font-style: italic;
    text-decoration:underline;
    line-height: 10px;
}
.table-games{
    margin-left: 10%;
}
th{
    border: 1px solid black;
    font-size: 20px;
}
table {
    padding-top: 15px;
    font-size: 20px;
    width: 80%;
}
tr, td {
    border: 1px solid black;
    width: 25%;
    padding-top: 15px;
}
td{
    text-align: center;
}
.end-info1{
    margin-left: 10%;
    padding: 15px 0px;
    font-size: 20px;
    line-height: 50px;
}
.end-info2 {
    margin-left: 10%;
    padding: 15px 0px;
    font-size: 20px;
    line-height: 50px;
}
.email{
    margin-left: 10%;
}

/* maps */

.ubicaciones-juegos{
    padding: 0px 5px;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.maps {
    margin: 0px 10px;
    padding: 5px 20px;
}
.title-maps{
    font-size: 20px;
    text-align: center;
}

/* Form */

.title-form{
    text-align: center;
    font-size: 35px;
    padding: 5px;
    margin: 10px;
}
.form-section {
    position: absolute;
    margin-top: 8px;
    margin-left: 10%;
} 
.form-section label{
    border: none;
    display: inline-block;
    padding: 5px 0px
}
.form-section label input{
    margin: 3px 10px;
    border: none;
    border-bottom: 1px solid black;
}
p{
    font-size: 18px;
    font-weight: bold;
    padding:10px 0px;
}
span{
    font-size: 18px;
    font-weight:bold;
}
.last-form h4{
    padding-top: 10px;
    font-size: 18px;
}
.last-form p { 
    font-size: 18px;
    font-weight: 500;
}
.last-form label{
    font-weight: 200;
    font-size: 17px;
}
.button {
    cursor: pointer;
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10% ;
    background-color: lightgrey;
}
@media screen and (max-width: 700px) {
    .logo1{
        right: unset;
        width: unset;
        height: unset;
        right: 5px;
        width: 150px;
        height: 150px;
        padding-bottom: 15px;
    }
    #navbar{
        top: unset;
        display: flex;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);

    }
    .links{
        margin-top: unset;
        text-decoration: none;
        color: rgb(255, 233, 35);
    }
    section .items-art {
        left: unset;
    }
    .conteiner-game1 {
        margin-left: unset;
    }
    .form-section {
        margin-left: unset;
        margin-left: 5%;
        margin-right: 3%;
    }
    .items-art-rules{
        margin-left: unset;
    }
}
@media screen and (max-width: 1200px) {
    #navbar{
        top: unset;
        display: flex;
        justify-content: space-around;
        background-color: rgb(0, 0, 0);
        padding: 5px;

    }
    .links{
        margin-top: unset;
        text-decoration: none;
        color: rgb(214, 197, 38);
    }
    .section .items-art{
        left: unset;
        margin: unset;
        padding: unset;
    }
    .conteiner-game1 {
        margin-left: unset;
    }
    .form-section {
        margin-left: unset;
        margin-left: 5%;
        margin-right: 3%;
    }
    .items-art-rules{
        margin-left: unset;
    }
}